.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 100%;
    color: black;
    background-color: white;
    border-radius: 10px;
}

.label {
    font-size: 2rem;
    font-weight: bold;
}

.label.valid {
    color: red;
}

.input {
    margin: 1em 0;
    padding: 0 1em;
    height: 3em;
    font-size: 1.5rem;
    font-weight: bold;
    outline: 0;
}

.input.valid {
    border-color: red;
}